<h3>Register New Users</h3>

<div class="row">
<div class="form col col-6 offset-3">

    <div class="form-group row">
    <label for="" class="col-4 col-form-label">User Name:</label> 
        <div class="col-8">
        <input type="text" [(ngModel)]="model.userName" name="userName"  (ngModelChange)="userValueChanged()" class="form-control">
                    
        <div *ngIf="userNameError" class="alert alert-danger">
        User name is required to be at least 3 chars long
        </div>
        </div>
        </div>


           
               
                
              
    <div class="form-group row">
        <label for="text2" class="col-4 col-form-label">Password:</label> 
        <div class="col-8">
            <input type="password" [(ngModel)]="model.password" (ngModelChange)="passwordChanged()" name="password" class="form-control">

            <div *ngIf="passwordError" class="alert alert-danger">
                Password must be at least 8 characters
            </div>
        </div>
        </div>
                  
        

    <div class="form-group row">
        <label for="text3" class="col-4 col-form-label">Retype Password:</label> 
        <div class="col-8">
            <input type="password" [(ngModel)]="retypePassword" (ngModelChange)="passwordChanged()" name="passwordAgain"   class="form-control">
                    
            <div *ngIf="passMatchError" class="alert alert-danger">
                Passwords do not match
            </div>
            </div>
            </div>
            
        
        
   

    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">First Name:</label> 
        <div class="col-8">
            <input type="text" [(ngModel)]="model.firstName" name="fName"  class="form-control">
        </div>
        </div>
        
   
        

    <div class="form-group row">
        <label for="text4" class="col-4 col-form-label">Last Name:</label> 
        <div class="col-8">
            <input type="text" [(ngModel)]="model.lastName" name="lName"  class="form-control">
        </div>
        </div>
    
    

    <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Email:</label> 
        <div class="col-8">
            <input type="text" [(ngModel)]="model.email" name="email" (ngModelChange)="emailChanged()" class="form-control">
            

            <div *ngIf="emailError" class="alert alert-danger">
                        User must enter valid email address
                    </div>
                    </div>
                    </div>
                
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button (click)="registerUser()" class="btn btn-primary">Register User</button>
        </div>
    </div>
          
        
